
/*Toutes les uk- */

[class*="uk-"]{
	padding-top: 20px;
	text-align: center;
	color: white;
	font-size:20px;
	
}

.header{
	color: white;
}



/* balise html */

li{
	list-style: none;
}

body{
	margin-right: 10px;
	margin-left: 10px;
	font-family: 'Cabin', sans-serif;
}

/*Class html */

.dev{
	font-size:35px; 
}

.title-ti{
	color: black;
	opacity: 1;
}

.title{
	color: black;
	opacity: 1;
}

.text{
	color: black;
	opacity: 1;
}

.test{
	color:black;
}

.body{
	margin-top: 15px;
	margin-bottom: 15px;
height: auto;
width: auto;
}

.section-1{
	margin: 20px;
}

.image-github{
	height:20% ;
	width: 15% ;
}

.photo-profil{
	text-align: center;
	opacity: 1;
	border-radius: 50%;
width: 35%;
height: 35%;
}


.stage{
	padding-bottom: 10px;
}

.lien{
	margin-right: 0.8em;
	margin: 10px;
}

.scroll{
	margin-top: 15px;
	padding-top: 0px;
	border:solid white 3px;
	background-color: black;
	border-radius: 17px 2px 17px 2px
}

.lien{
	color : black;
	text-decoration:none;
	list-style: none;
	/* transition quand la souris quitte l'élément */
	transition: color 3s;

}

.lien:hover{
	color:orange;
	text-decoration:none;
	list-style: none;
	/* transition quand la souris survole */
	transition: color 1.5s;
}

.li-logo{
	margin:auto;
	list-style: none;
}

/*-----Responsive-----*/

@media all and (max-width: 768px) {
	.photo-profil{
		width: 100px;
		height: 100px;
	}
	.image-github{
		height: 50%;
		width: 45%;
	}
}
